# environment variables
.env
.env.dev
.env.dev.db
.env.prod
.env.prod.db

# virtualenv
.venv

# planning & documentation
docs

# logs
logs/
celerybeat-schedule

# testing files
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# development tooling
db.sqlite3
*.sh
!init-letsencrypt.sh
!entrypoint.sh
!entrypoint.prod.sh
jstools
scripts
write-env-to-github-secrets.py


# temporary files
staticfiles
*.pyc 

# macOS
.DS_Store

