{% extends "base.html" %} 
{% block body_block %} 
{% load static widget_tweaks %}

<div class="card flex flex-col items-center md:max-w-md max-w-full mx-auto space-y-6 mt-10 md:py-8 py-6 md:px-8 px-6">

  <div class="font-bold text-xl">Sign In for Access</div>

  <div>
    <form id="login" class="space-y-6" action="#" method="POST">
      {% csrf_token %}

        <div>
          <label for="username" class="sr-only has-float-label"
            >User name</label
          >
          <input
            id="username"
            name="username"
            type="text"
            autocomplete="username"
            required
            class="input-field"
            placeholder="User name"
          />
        </div>

        <div class="-space-y-4">
          <label for="password" class="sr-only has-float-label">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            required
            class="input-field"
            placeholder="Password"
          />
        </div>

        <div class="self-center text-xs">
          <a href="#" class="link">
            Forgot your password?
          </a>
        </div>

        <button
          type="submit"
          class="button-basic"
        >
          Sign in
        </button>

    </form>
  </div>

  <div class="self-center text-xs text-gray-500">
    Please contact your account administrator for access
  </div>
</div>

{% endblock %}
