{% load widget_tweaks humanize has_group remove_trailing %}


<!-- START COLLAPSE - REPORTING -->
    <div class="relative overflow-hidden transition-all max-h-0 h-auto duration-700" style="" x-ref="container2" x-bind:style="reportingopen == true ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''">
        <div class="card-subsection border-0" x-data="{}">
            <form class="lg:w-1/2 md:w-3/4 w-full h-full" id="reporting_form" method="post" action="" data-material-units-url="{% url 'masterdata:load_material_valid_units' %}" novalidate>

                <!-- START TITLE -->
                <div class="font-bold text-sm mr-2 md:mb-2 mb-0 pb-1 space-x-2">Export as PDF</div>
                <!-- END TITLE -->

                <!-- START REPORT CHOICES -->
                <div class="mt-2 p-4 text-sm leading-5 bg-steel-50 border border-steel-200 space-y-5">

                    {% if view_type == "standard" %}

                        <div>
                            <a class="link" href="{% url 'masterdata:billofmaterials_pdf' pk=data.id view_type='standard' report_type='brief' %}">Brief</a>
                        </div>

                        <div>
                            <a class="link" href="{% url 'masterdata:billofmaterials_pdf' pk=data.id view_type='standard' report_type='standard' %}">Standard</a>
                        </div>

                        <div>
                            <a class="link" href="{% url 'masterdata:billofmaterials_pdf' pk=data.id view_type='standard' report_type='full' %}">Full</a>
                        </div>

                    {% else %}

                        <div>
                            <a class="link" href="{% url 'masterdata:billofmaterials_pdf' pk=data.id view_type='scaled' report_type='brief' %}">Brief</a>
                        </div>

                        <div>
                            <a class="link" href="{% url 'masterdata:billofmaterials_pdf' pk=data.id view_type='scaled' report_type='standard' %}">Standard</a>
                        </div>

                        <div>
                            <a class="link" href="{% url 'masterdata:billofmaterials_pdf' pk=data.id view_type='scaled' report_type='full' %}">Full</a>
                        </div>

                    {% endif %}

                </div>
                <!-- END REPORT CHOICES -->
        </div>
    </div>
<!-- END COLLAPSE - REPORTING -->

