<!-- START PROFILE DROPDOWN -->
<div class="ml-3 relative">
    <!-- START BUTTON -->
    <template>
    <div>
    <button
        class="max-w-xs bg-gray-800 rounded-full flex items-center text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-300 focus:ring-white"
        id="user-menu" aria-haspopup="true" style="transition: all 0.15s ease" type="button"
        onclick="openDropdown(event,'settings-dropdown')">
        <span class="sr-only">Open user menu</span>
        <img class="h-8 w-8 rounded-full"
        src="{{user.profile.avatar.url}}"
        alt="{{user.username}} avatar" />
    </button>
    </div>
    </template>
    <!-- END BUTTON -->
    <!-- START DROPDOWN -->
    <div id="settings-dropdown"
    class="origin-top-right absolute right-0 z-50 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 hidden"
    role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Your
        Profile</a>
    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Settings</a>
    <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Sign out</a>
    </div>
    <!-- END DROPDOWN -->
</div>
<!-- END PROFILE DROPDOWN -->