<!-- START MOBILE MENU (BUTTON) -->
<button
class="bg-whiteinline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-300 focus:outline-none "
style="transition: all 0.15s ease" type="button" onclick="openDropdown(event,'menu-dropdown')">
<span class="sr-only">Open main menu</span>
<!-- Heroicon name: menu / Menu open: "hidden", Menu closed: "block" -->
<svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
    stroke="currentColor" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
</svg>
<!-- Heroicon name: x / Menu open: "block", Menu closed: "hidden" -->
<svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
    stroke="currentColor" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
</svg>
</button>
<!-- END MOBILE MENU (BUTTON) -->